# Assignment_2

## Ahmed Malik

# PDF Questions

#### 1. Write a Python program to add an item to a tuple.

In [17]:
#1st Method

x=(1,2,3,4,5)
x=x+("NNNOOOO",)
print("First Method's result--->",x)

#2nd Method

y=(55,66,77,88)
z=list(y)
z.append("Adding to the end")
y=tuple(z)
print("Second Method's result--->",y)

First Method's result---> (1, 2, 3, 4, 5, 'NNNOOOO')
Second Method's result---> (55, 66, 77, 88, 'Adding to the end')

#### 2. Write a Python program to sum all the items in a list.

In [19]:
Listing=[1,2,3,4,5]
print(sum(Listing))

15

#### 3. Write a Python program to multiply all the items in a list.

In [30]:
# 1st Method

Listing1=[1,2,3,4,5]
x=1
for i in range(len(Listing1)):
    x*=Listing1[i]

print(f"x= {x}")

# 2nd Method

y=1
for i in Listing1:
    y*=i

print(f"y= {y}")

x= 120
y= 120

#### 4.Write a Python program to get the smallest number from a list.

In [32]:
Listing2=[14,3,5,100,36,0.5,-1]
print(min(Listing2))

-1

#### 5. Write a Python program to get the largest number from a list.

In [33]:
Listing2=[14,3,5,100,36,0.5,-1]
print(max(Listing2))

100

#### 6. Write a Python program to count the number of strings from a given list of strings.

In [34]:
Listing3=["Apple","Banana","7mada","Bitingana"]
print(len(Listing3))

4

#### 7. Write a Python program to clone or copy a list

In [35]:
Listing3=["Apple","Banana","7mada","Bitingana"]
CopyList= Listing3.copy()
print(CopyList)

['Apple', 'Banana', '7mada', 'Bitingana']

#### 8. Write a Python program to remove item(s) from a given set.

In [38]:
Listing4=["Apple","Banana","7mada","Bitingana"]
Listing4.remove("Apple")
print(Listing4)

['Banana', '7mada', 'Bitingana']

#### 9. Write a Python program to check if a set is a subset of another set.

In [43]:
set1={1,2,3,4,5}
set2={1,2,3}

print(set2.issubset(set1))

True

#### 10. Write a Python program to remove all elements from a given set.

In [45]:
set1={1,2,3,4,5}

set1.clear()
print(set1)

set()

#### 11. Write a Python program to find the maximum and minimum values in a set.

In [46]:
setA={1,2,3,4,5,18}

print(max(setA))

18

#### 12. Write a Python program to find the index of an item in a tuple.

In [52]:
Z=("Hola","Amit",15,6)

print(Z.index("Amit"))

1

#### 13. Write a Python program to convert a tuple to a dictionary.

In [62]:
A=(("Name","Ahmed"),("Age",23))
a=dict(A)
print(a)

{'Name': 'Ahmed', 'Age': 23}

#### 14. Write a Python program to unzip a list of tuples into individual lists.

In [47]:
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]

unzipped_lists = list(zip(*list_of_tuples))

unzipped_lists = [list(item) for item in unzipped_lists]

print("Unzipped lists:", unzipped_lists)

Unzipped lists: [[1, 2, 3], ['a', 'b', 'c']]

#### 15. Write a Python program to reverse a tuple.

In [48]:
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

#### 16. Write a Python program to convert a list of tuples into a dictionary.

In [49]:
list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]

converted_dict = dict(list_of_tuples)

print("Dictionary:", converted_dict)

Dictionary: {1: 'a', 2: 'b', 3: 'c'}

#### 17. Write a Python program to replace the last value of tuples in a list.

In [50]:
list_of_tuples = [(1, 'a', 10), (2, 'b', 20), (3, 'c', 30)]
new_value = 100

newOne = [(t[:-1] + (new_value,)) for t in list_of_tuples]

print("Modified list of tuples:", newOne)

Modified list of tuples: [(1, 'a', 100), (2, 'b', 100), (3, 'c', 100)]

#### 18 Write a Python program to sort a tuple by its float element.

In [51]:
tuple_ = ((1, 2.5), (2, 1.3), (3, 3.8), (4, 0.5))

sort_tuple = sorted(tuple_, key=lambda x: x[1])

print("Sorted tuple by float element:", sort_tuple)

Sorted tuple by float element: [(4, 0.5), (2, 1.3), (1, 2.5), (3, 3.8)]

# .PY Questions

#### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [4]:
x=float(input("Plz Enter a number:"))
y=float(input("Plz Enter another number:"))

print(f"{x} is greater than {y}" if x>y else (f"{y} is greater than {x}" if y>x else (f"{x} is equal to {y}")))

Plz Enter a number:5
Plz Enter another number:5
5.0 is equal to 5.0

#### 2) Write a program to find the maximum between three numbers.

In [7]:
x=float(input("Plz Enter a number:"))
y=float(input("Plz Enter another number:"))
z=float(input("Plz Enter more another number:"))

print(max(x,y,z))

Plz Enter a number:5
Plz Enter another number:100
Plz Enter more another number:-5
100.0

#### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [13]:
x=float(input("Plz Enter a number:"))

print(f"{x} is a positive number." if x>0 else (f"{x} is a negative number." if x<0 else (f"the number is zero.")))

Plz Enter a number:0
the number is zero.

#### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [18]:
x=float(input("Plz Enter a number:"))

print(f"{x} is an even number" if x%2==0 else (f"{x} is an odd number"))

Plz Enter a number:9
9.0 is an odd number

#### 5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).

In [20]:
x=float(input("Plz Enter the year:")) 

print(f"{x} is a leap year." if x%4==0 else(f"{x} is not a leap year"))

Plz Enter the year:2023
2023.0 is not a leap year

#### 6) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [21]:
WeekDays=["Saturday","Sunday","Monday","tuesday","wednesday","Thursday","Friday"]

for i in WeekDays:
    print(i)

Saturday
Sunday
Monday
tuesday
wednesday
Thursday
Friday

#### 7) Write a  program to print all alphabets from a to z using while loop

In [27]:
x=ord('a')
while x<=ord('z'):
    
    print(chr(x),end= " ")
    x+=1

a b c d e f g h i j k l m n o p q r s t u v w x y z

#### 8)Write a program to store numbers in the List and print its reverse

In [43]:
y=[]
print("if you want to quit press Q\n-----------------------------")
while True:
    x=input("Enter a number: ")
    if x=="Q":
        break
    else:
        z=int(x)
        y.append(z)

print(y[::-1])

if you want to quit press Q
-----------------------------
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 8
Enter a number: 9
Enter a number: 10
Enter a number: Q
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### 9) Write a program to print the multiplcation table of any number

In [45]:
x=int(input("Enter a number: "))

for i in range(13):
    z=x*i
    print(f"{i} x {x} = {z}")

Enter a number: 3
0 x 3 = 0
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
11 x 3 = 33
12 x 3 = 36

#### 10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [46]:
i=0
while i<=100:
    print(i)
    i+=2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100